/* Login.css */

.label-fix {
  transform: none !important;
  padding: 0px 10px !important;
  height: 0px !important;
}

.authForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #a19a9a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.authForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.authFormInputs {
  margin-bottom: 15px;
}

.form-floating {
  position: relative;
}

.form-floating input {
  height: calc(3.5rem + 2px);
  padding: 1rem 1.75rem;
}

.form-floating label {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100%;
  padding: 1rem 1.75rem; */
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: all 0.2s ease-in-out;
}

.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label {
  /* transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem); */
  background-color: #fff;
  /* padding: 0.25rem 0.5rem; */
}

.alert {
  margin-bottom: 15px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

p {
  text-align: center;
  margin-top: 10px;
}

p span {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

p span:hover {
  text-decoration: none;
}
